
<%= render 'shared/header' %>
<p>This site is handcrafted by me - Natasha Jones. 
In June 2014 I decided that CAN and WILL become a computer programmer.
This blog is a space for me to share my experiences related to programming,
thoughts in general and any amazing gifs I come across.<p> </br>

<p>follow me <a href="https://twitter.com/latazzajones">@latazzajones</a></p>