
<%= render 'shared/header' %>
<p>This site is handcrafted by me - Natasha Jones. 
It's is a space for me to share my experiences related to programming,
thoughts in general and any amazing gifs I come across.<p> </br>

follow me <a href="https://twitter.com/latazzajones">@latazzajones</a>