<%= render 'shared/header' %>
<ul id="articles">
  <% @articles.each do |article| %>
    <li>
     <%= link_to article.title, article_path(article), class: 'article_title' %>
     <p id="body_preview"><%= raw article.body.split(".").first %> ... </p>
    </li>
  <% end %>
</ul>

<% if logged_in? %>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>
