

<div id="hideShowDiv" class="dropdown">
<div class="about_paragraph">
<p>This site is handcrafted by me - Natasha Jones. 
It's is a space for me to share my experiences related to programming.<p> </br>

follow me <a href="https://twitter.com/latazzajones">@latazzajones</a>
<button id="hide"><%= image_tag('exit_button.png', alt: "close") %></button>
</div>
</div>