
<hr>
<section id='footer'>
<h6>This is not a <a hreaf="rubyonrails.org">wordpress</a> site. </h6>
</section>
<% if logged_in? %>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %></hr>