
<nav>
  <ul>
    <li>
    <%= link_to "about", static_pages_about_path %>
    </li>
    <li>
    <%= link_to "reading list", static_pages_reading_list_path %>
    </li>
  <ul>
</nav>
<h1 id="header"><%= link_to "Natasha Jones", articles_path %></h1>
