<nav>
    <%= render 'shared/header' %>
    <div id="wrapper">
    <div class="orange">
    <%= link_to "blog", articles_path %>
    </div>
    <div class="teal">
    <%= link_to "about", static_pages_about_path %>
    </div>
    <div class="fuchsia">
    <%= link_to "reading list", static_pages_reading_list_path %>
    </div>
    </div>
</nav>