$primary_color: #aa006d;
$text_color: #e55008;

body {
  background-color: $primary_color;
  background-opacity: 60;
  color: $text_color;
  font: {
    family: Helvetica, Arial, sans-serif;
    size: 20px;
    color: #e55008;
  }
}

p {
  color: #000;
}

#header {
  a {
  text-decoration: none;
  color: $text_color;
  }
  a:hover {
    color: red;
  }
}

ul { 
  list-style: none;
  padding: none;

}
ul li {
  padding: 1em;
}

a {
  color: $text_color;
  text-decoration: none;
  img {
    border: none;
  }
}

a:hover {
    text-decoration: underline;
    font-style: bold;
  }

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: $primary_color;
  padding: 20px 40px;
  border: none;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}




