$fuchsia-text: #aa006d;
$orange-text: #e1c336;
$gray-text: #776f6f;

// ***** base *****
body {
  background-color: none;
  color: $gray-text;
  margin: 0;
  font: {
    family: 'Quattrocento', sans-serif;
    color: #e55008;
  }
}

p {
  color: none;
  margin-top: 20px;
  padding-bottom: none;
}

h1 {
  color: $orange-text;
  font-size: 30px;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
}

h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding: none;

  li {
    margin-top: -10px;
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: .5em;
  }
}

nav {
  background-color: $gray-text;
  position: fixed;
  color: #fff;
  font-size: 1.2em;
  top: 0;
  height: 4.5em;
  width: 100%;
  padding-right: 3em;
  a {
    color: #fff;
  }
}

a {
  color: $fuchsia-text;
  text-decoration: none;
}

a:hover {
  font-style: bold;
  text-decoration: underline;
}

// ***** modular *****
#body_preview {
  font-size: 20px;
  margin-top: 5px;
}

#header {
  position: absolute;
  float: left;
  margin-top: 1em;
  margin-left: 1em;
  padding: 3px;
  font-size: 95%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: $orange-text;
  font-style: 'Istok Web', sans-serif;
  a {
    text-decoration: none;
    color: $orange-text;
    font-size: 2em;
    }

  a:hover {
    color: $orange-text;
  }
}

#articles {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .25em;
}

.article_title {
  font-size: 1.5em;
}

#date {
  color: $orange-text;
  font-size: 15px;
  margin-top: 0;
  padding-top: 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 80%;
  margin-top: 5em;
  background: none;
  padding: 10% 10%;
  border: none;
}

.admin {
  font-size: 15px;
  float: right;
  padding-top: 0;
}

::selection {
  color: white;
  background: #776f6f;
}

.pagination {
  background: white;
  border: 0;
  text-align: center;
  padding: .5em;
  cursor: default;
  .pagination .current {
    color: $orange-text;
    font-style: normal;
    font-weight: bold;
    background-color: $fuchsia-text;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    /*text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; */}
  .pagination a {
    text-decoration: none;
    color: $fuchsia-text;}

.pagination a:hover, .pagination a:focus {
  text-decoration: underline; }
}

//****************************
// *******media queries*******
//****************************
@media screen and (min-width: 800px) {
  nav {
    font-size: 1.2em;
    height: 100%;
    width: 7.5em;
    padding-right: 0;
    #wrapper {
      float: none;
      text-align: left;
      margin-top: 6em;
      width: 5em;
      div {
        height: 1.75em;
        width: 100%;
        padding-left: .5em;
        }
    }
  }
  #header {
  margin-left: 1em;
  }

  #container {
    width: 50%;
    margin-top: 0em;
    margin-left: 20%;
    background: none;
    padding: 5% 10% 5%;
    border: none;
  }
}
